<form [formGroup]="service.forgotFormModel" autocomplete="off" (submit)="OnForgotPassword()">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        formControlName="Email">
        <mat-error *ngIf="service.forgotFormModel.get('Email').touched && service.forgotFormModel.get('Email').errors?.required">Email is required</mat-error>
        <mat-error *ngIf="service.forgotFormModel.get('Email').touched && service.forgotFormModel.get('Email').errors?.email">Invalid Email</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <div class="text-center">
    <button
     mat-raised-button
     color="primary"
     class="login-button"
     [disabled]="!service.forgotFormModel.valid">
     Send Mail
                </button>
              </div>
  </form>